body {
  background-image: url('../src/images/background.png');
  background-position: center;
  color: white;
  font-family: Tahoma , Geneva , Verdana , sans-serif;
}

header > h1 {
  font-size: 60px;
  text-align: center;
  text-shadow: rgba(233, 243, 145, 0.815) 1px 1px 3px;
}

.planets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  border: 1px solid white;
  border-radius: 15px;
  font-size: 30px;
  margin: 0 150px;
  padding: 20px;
  text-align: center;
}

.planets {
  display: flex;
  justify-content: space-around;
}

.planets-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin: 5px;
  max-width: 200px;
}

img {
  height: 130px;
  object-fit: contain;
  width: 130px;
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 150px;
}

.mission-card {
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 5px;
  width: 220px;
}

.mission-card > p {
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
