body {
  background-image: url('../src/images/background.png');
  background-position: center;
  color: white;
  font-family: Tahoma , Geneva , Verdana , sans-serif;
}

header > h1 {
  font-size: 6vw;
  text-align: center;
  text-shadow: rgba(226, 207, 98, 0.685) 1px 1px 3px;
}

.planets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  background-color: rgba(2, 2, 2, 0.3);
  border: 1px solid white;
  border-radius: 15px;
  font-size: 2.5vw;
  margin: 0 3vw;
  padding: 20px;
  text-align: center;
}

.planets {
  display: flex;
  justify-content: space-around;
}

.planets-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 3vw;
}

.mission-card {
  align-items: center;
  background-color: rgba(2, 2, 2, 0.3);
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin: 2vh 0;
  width: 220px;
}

.mission-card > p {
  font-size: 1.5vw;
  font-weight: 700;
  text-decoration: underline;
}

.mercurio {
  width: 5vw;
}

.venus, .terra, .urano, .netuno {
  width: 9vw;
}

.marte {
  width: 7vw;
}

.jupiter, .saturno {
  width: 18vw;
}
